
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}


body {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background: linear-gradient(180deg, #bb7dd5, #77458c);
    line-height: 1.6;
    text-align: center;
    padding: 0 15px;
}


header {
    background: linear-gradient(90deg, #8d53aa, #6c457e);
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


section {
    padding: 50px 0;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}


.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #77458c;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(141, 83, 170);
}


footer {
    background: #6c3483;
    padding: 10px 0;
    font-size: 0.9rem;
}
